@media (max-width: 767px) {
    .input-login {
        position: absolute;
        width: 237px;
        height: 32px;
        border-radius: 20px;
        padding: 3px;
        margin-left: -194px;
        background-color: #fff;
      }
  }

  #input-login-email {
    position: absolute;
    margin-top: 360px;
  }

  #input-login-password {
    position: absolute;
    margin-top: 430px;
  }

  .img-login{
    position: absolute;
    margin-left: -180px;
    z-index: 2;
    background-color: transparent;
  }

  #img-input-login-email{
    position:absolute;
    margin-top: 365px;
    background: none;
  }
  
  #img-input-login-password {
    height: 30px;
    width: 28px;
    position:absolute;
    margin-top: 435px;
    background: none;
  }

@media (min-width: 768px) and (max-width: 1023px) {
  .input-login {
    position: absolute;
    width: 237px;
    height: 35px;
    border-radius: 20px;
    padding: 3px;
  }

  #input-login-email {
    position: absolute;
    margin-top: -400px;
    margin-left: 425px;
    background-color: #fff;
  }

  #input-login-password {
    position: absolute;
    margin-top: -330px;
    margin-left: 425px;
    background-color: #fff;
  }

  .img-login{
    position: absolute;
    margin-left: 438px;
    z-index: 2;
    background-color: transparent;
  }

  #img-input-login-email {
    position: absolute;
    margin-top: -394px;
  }

  #img-input-login-password {
    position: absolute;
    margin-top: -322px;
  }
}

@media (min-width: 1024px) {
  .input-login {
    position: absolute;
    width: 237px;
    height: 30px;
    border-radius: 20px;
    padding: 3px;
  }

  #input-login-email {
    position: absolute;
    margin-top: -400px;
    margin-left: 605px;
    background-color: #fff;
  }

  #input-login-password {
    position: absolute;
    margin-top: -330px;
    margin-left: 605px;
    background-color: #fff;
  }

  .img-login{
    position: absolute;
    margin-left: 620px;
    z-index: 2;
    background-color: transparent;
  }

  #img-input-login-email {
    position: absolute;
    margin-top: -394px;
  }

  #img-input-login-password {
    position: absolute;
    margin-top: -326px;
  }
}
