@media (max-width: 767px) {
    .input-login {
        position: absolute;
        width: 237px;
        height: 27px;
        border-radius: 20px;
        padding: 3px;
        margin-left: -194px;
        background-color: #fff;
      }
  }

  #input-login-email {
    position: absolute;
    margin-top: 360px;
  }

  #input-login-password {
    position: absolute;
    margin-top: 430px;
  }

  .img-login{
    position: absolute;
    margin-left: -180px;
    z-index: 2;
    background-color: transparent;
  }

  #img-input-login-email{
    position:absolute;
    margin-top: 363px;
    background: none;
  }
  
  #img-input-login-password {
    height: 30px;
    width: 28px;
    position:absolute;
    margin-top: 433px;
    background: none;
  }



@media (min-width: 768px) and (max-width: 1023px) {
    .input-login {
        position: absolute;
        width: 237px;
        height: 27px;
        border-radius: 20px;
        padding: 3px;
      }
    
      #input-login-email {
        position: absolute;
        margin-top: 400px;
        margin-left: 1125px;
        background-color: #fff;
      }
    
      #input-login-password {
        position: absolute;
        margin-top: 500px;
        margin-left: 1125px;
        background-color: #fff;
      }
    
      .img-login{
        position: absolute;
        margin-left: 1130px;
        z-index: 2;
        background-color: transparent;
      }
    
      #img-input-login-email{
        position: absolute;
        margin-top: 405px;
      }
    
      #img-input-login-password {
        position: absolute;
        margin-top: 500px;
      }
}

@media (min-width: 1024px) {
  .input-login {
    position: absolute;
    width: 237px;
    height: 27px;
    border-radius: 20px;
    padding: 3px;
  }

  #input-login-email {
    position: absolute;
    margin-top: 300px;
    margin-left: 100px;
    background-color: #fff;
  }

  #input-login-password {
    position: absolute;
    margin-top: -400px;
    margin-left: 600px;
    background-color: #fff;
  }

  .img-login{
    position: absolute;
    margin-left: 100px;
    z-index: 2;
    background-color: transparent;
  }

  #img-input-login-email {
    position: absolute;
    margin-top: 100px;
  }

  #img-input-login-password {
    position: absolute;
    margin-top: 200px;
  }
}
